body {
    background-color: #121212;
}

.div-controles-direcoes { 
  display: flex;
  height: 700px;
  width: 100%;
  background-color: #414149;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 10;
}

.div-funcoes-especiais {
    display: flex;
    height: 1100px;
    width: 45%;
    background-color: #29292e;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 50px;
    margin-left: 40px;
}

.botao-ligar-desligar {
    height: 200px;
    width: 200px;
    background-color: #35353b;
    border-radius: 20%;
}

.botao-decolar {
    height: 200px;
    width: 200px;
    background-color: #35353b;
    border-radius: 20%;
}

.botao-pousar {
    height: 200px;
    width: 200px;
    background-color: #35353b;
    border-radius: 20%;
}

.botao-voltar-casa {
    height: 200px;
    width: 200px;
    background-color: #35353b;
    border-radius: 20%;

}

.botao-soltar-carga {
    height: 200px;
    width: 200px;
    background-color: #35353b;
    border-radius: 20%;
}

h1 {
    color: rgb(174, 171, 171);
}